#our {
  text-align: center;
  background-color: rgba(195, 233, 195, 0.5);
  padding: 16px;
  margin: 0px;
}

ul {
  list-style-type: none;
  text-align: center;
  list-style-type: none;
}
li {
  display: inline;
  margin-right: 30px;
}
a {
  color: rgb(99, 188, 99);
  text-decoration: none;
}
body {
  background-color: #f4efef;
}
#section1,
#section2,
#section3 {
  position: relative;
  left: 150px;
}
.one {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  gap: 100px;
  border-radius: 7px;
  padding: 20px;
  max-width: 860px;
  max-height: 600px;
  margin: 0 auto;
}
div img {
  max-width: 90%;
  border-radius: 5px;
}
.first {
  background-color: white;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 17px;
  border-radius: 7px;
}
.dollar {
  color: rgb(99, 188, 99);
}
footer {
  background-color: rgb(10, 100, 10);
  padding: 9px;
  margin-top: 40px;
}
footer p {
  text-align: center;
  color: white;
}
