* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: #d9eed9;
  padding: 1em;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
  margin-right: 2em;
}

a {
  color: #4caf50;
  text-decoration: none;
}

body {
  background-color: #f4efef;
}

main {
  padding-left: 10%;
}

.section {
  position: relative;
  left: 5%;
  margin-top: 1em;
  opacity: 0.8;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3em;
  border-radius: 0.5em;
  padding: 1em;
  max-width: 90%;
  margin: 0 auto;
}

main img {
  max-width: 90%;
  border-radius: 5px;
  padding-top: 5%;
}

.product {
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 150px;
  max-width: calc(25% - 3em);
  box-sizing: border-box;
}

.product h2 {
  font-size: 1.125em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 0.8;
}

.product p {
  font-size: 0.875em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 0.5em;
  opacity: 0.8;
  max-width: 90%;
}

.price {
  color: rgb(99, 188, 99);
}

footer {
  background-color: #124314;
  padding: 0.5em;
  margin-top: 2.5em;
}

footer p {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .section {
    left: 5%;
  }

  .product-list {
    gap: 1em;
    padding: 0.5em;
  }

  .product {
    max-width: 100%; /* Ensure full width for smaller screens */
    padding: 1em;
  }
}

@media (max-width: 480px) {
  .section {
    left: 2%;
  }

  .product-list {
    gap: 0.5em;
    padding: 0.5em;
  }

  .product {
    max-width: 100%; /* Ensure full width for very small screens */
    padding: 0.5em;
  }

  ul li {
    display: block; /* Change list items to block for small screens */
    margin-bottom: 0.5em;
  }
}
@media (max-width: 768px) {
  main img {
    margin: 1.5em;
  }
}
@media (max-width: 480px) {
  main img {
    margin: 1em;
  }
}
